<div class="card item-card">
    <h5 class="card-header">Pending Agents's Applications</h5>
        <div class="card-body cardItem">
            <img class="card-img-left" src="./ignorefolder/about_0023.png" alt="Card image cap" />
            <div class="card-info">
                <h4 class="card-title">Agents Name</h4>
                <p class="card-text">Email Id :</p>
                <p class="card-text">Contact No. : </p>
                <p class="card-text">Service Name : </p>
                <p class="card-text">Price : Rs. </p>
                <p class="card-text">Location : </p>
                <a href="#" class="btn btn-primary button-link"><i class="fa fa-check" style="font-size:25px;color:green"></i><span>Accept</span></a>
                <a href="#" class="btn btn-primary button-link"><i class="fa fa-times" style="font-size:25px;color:red"></i><span>Reject</span></a>
            </div>
        </div>
        <div class="card-body cardItem">
            <img class="card-img-left" src="./ignorefolder/about_0023.png" alt="Card image cap" />
            <div class="card-info">
                <h4 class="card-title">Agents Name</h4>
                <p class="card-text">Email Id :</p>
                <p class="card-text">Contact No. : </p>
                <p class="card-text">Service Name : </p>
                <p class="card-text">Price : Rs. </p>
                <p class="card-text">Location : </p>
                <a href="#" class="btn btn-primary button-link"><i class="fa fa-check" style="font-size:25px;color:green"></i><span>Accept</span></a>
                <a href="#" class="btn btn-primary button-link"><i class="fa fa-times" style="font-size:25px;color:red"></i><span>Reject</span></a>
            </div>
        </div>
</div>
