<div class="wrapper">
    <!-- Header Start -->
    <div class="header home">
        <div class="container-fluid">
            
            <div class="hero row align-items-center">
                <div class="col-md-7">
                    <h2>Best & Trusted</h2>
                    <h2><span>Cleaning</span> Service</h2>
                    <p>Our qualified team strives for ensuring your satisfaction, while offering the highest levels of professional service at affordable and competitive rates.

                    </p>
                    <a class="btn" (click)="route()">Explore Now</a>
                </div>
                <!-- <div class="col-md-5">
                    <div class="form">
                        <h3>Get A Quote</h3>
                        <form>
                            <input class="form-control" type="text" placeholder="Your Name">
                            <input class="form-control" type="text" placeholder="Mobile Number">
                            <div class="control-group">
                                <select class="custom-select">
                                    <option selected>Choose a service</option>
                                    <option value="1">House Cleaning</option>
                                    <option value="2">Apartment Cleaning</option>
                                    <option value="3">Office Cleaning</option>
                                </select>
                            </div>
                            <textarea class="form-control" placeholder="Comment"></textarea>
                            <button class="btn btn-block">Get A Quote</button>
                        </form>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <!-- Header End -->
    
    
    <!-- About Start -->
    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6">
                    <div class="about-img">
                        <img src="../../../assets/img/group.jpg" alt="Image">
                    </div>
                </div>
                <div style="margin-top: 60px;" class="col-lg-7 col-md-6">
                    <div class="about-text">
                        <h2>Delivering New Experience</h2>
                        <p style="font-size:18px ;">
                            Our appliance repair technicians are clean and professional and provide repair services you can rely on.
                        </p>
                        <p>
                            Our handymen team was established in response to the growing need for high-quality housing and commercial space in the city. Since then, we are one of the leading real estate developers who serve the needs of a discerning clientele.
                            We let our quality work and commitment to customer satisfaction be our slogan.


                        </p>
                        <a class="btn"  (click)="route()">View More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Service Start -->
    <div class="service">
        <div class="container">
            <div class="section-header">
                <p>Our Services</p>
                <h2>Popular Services Provided by us</h2>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="service-item">
                        <img src="../../../assets/img/acfitting.jpeg" alt="Service">
                        <h3>Appliance Installation</h3>
                        <p>
                            We provide installation and repairing of appliances as AC,TV,Washing Machine etc
                        </p>
                        <!-- <a class="btn" href="">Learn More</a> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="service-item">
                        <img src="../../../assets/img/homecleaning.jpg" style="height: 170px;" alt="Service">
                        <h3>Home Cleaning</h3>
                        <p>
                            Provide quality home cleaning at reasonable rate with updated equipments
                        </p>
                        <!-- <a class="btn" href="">Learn More</a> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="service-item">
                        <img src="../../../assets/img/painter.jpg" style="height: 170px;" alt="Service">
                        <h3>Painter</h3>
                        <p>
                            Provide proper, safe , effective service by our Painter
                        </p>
                        <!-- <a class="btn" href="">Learn More</a> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="service-item">
                        <img src="../../../assets/img/Laundry.jpg" style="height: 170px;" alt="Service">
                        <h3>Laundry</h3>
                        <p>
                            Provide proper, safe ,and risk free service by our electrician
                        </p>
                        <!-- <a class="btn" href="">Learn More</a> -->
                    </div>
                </div>
                <div align="center" class="service1-item col-md-12">
                    <a class="btn" (click)="service()">View More</a>
                </div>
                        
            </div>
        </div>
    </div>
    <!-- Service End -->
    
    
    <!-- Feature Start -->
    <div class="feature">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="section-header left">
                        <p>Why Choose Us</p>
                        <h2>Expert Cleaners and World Class Services</h2>
                    </div>
                    <p>
                        At your service provides a platform that allows skilled and experienced professionals to connect with users looking for specific services. All the professionals, though experienced and skilled, undergo intensive training modules before being allowed to list their services on the platform. Once on the platform, our match-making algorithm identifies professionals who are closest to the users’ requirements and available at the requested time and date.                    </p>
                    <!-- <a class="btn" href="">Learn More</a> -->
                </div>
                <div class="col-md-7">
                    <div class="row align-items-center feature-item">
                        <div class="col-5">
                            <img src="https://media.istockphoto.com/photos/cleaner-wearing-a-facemask-while-cleaning-the-buttons-of-an-elevator-picture-id1312481751?b=1&k=20&m=1312481751&s=170667a&w=0&h=9TuylzDNBRJr7Gxif0bZjTjqfs-Xkv_8JLCuYhV9z7s=" alt="Feature">
                        </div>
                        <div class="col-7">
                            <h3>Professional HandyMan</h3>
                            <p>
                                From exhaust fan assessment to reviewing attic space and cleaning refrigerator coils to give you a safe life.
</p>
                        </div>
                    </div>
                    <div class="row align-items-center feature-item">
                        <div class="col-5">
                            <img src="https://st2.depositphotos.com/1010613/8652/i/600/depositphotos_86527942-stock-photo-workers-with-cleaning-equipments.jpg" alt="Feature">
                        </div>
                        <div class="col-7">
                            <h3>24/7 Services
                            </h3>
                            <p>
                                If you are in emergency situation, please do not worry. We provide 24/7 service. Whenever you call, we service you.
                            </p>
                        </div>
                    </div>
                    <div class="row align-items-center feature-item">
                        <div class="col-5">
                            <img src="https://thumbs.dreamstime.com/b/ac-repair-technician-air-conditioner-maintenance-service-223791070.jpg" alt="Feature">
                        </div>
                        <div class="col-7">
                            <h3>Affordable Price
                            </h3>
                            <p>
                                We do more than a renovation service- we check for glitches that need attention to keep you safe and save your money.                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature End -->
    

    <div class="service">
        <div class="container">
            <div class="section-header">
                <!-- <p>Our Services</p> -->
                <h2>Home Repairs</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <img src="../../../assets/img/plumbing.jpg" style="height: 170px;" alt="Service">
                        <h3>Plumbing</h3>
                        <p>
                            Provide overall quality plumbing at reasonable rate with updated equipments
                        </p>
                        <!-- <a class="btn" href="">Learn More</a> -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <img src="../../../assets/img/electrician.jpg" style="height: 170px;" alt="Service">
                        <h3>Electrician</h3>
                        <p>
                            Provide proper, safe ,and risk free service by our electricians.
                        </p>
                        <!-- <a class="btn" href="">Learn More</a> -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <img src="../../../assets/img/carpenter.jpg" style="height: 170px;" alt="Service">
                        <h3>Carpenter</h3>
                        <p>
                            Provide proper, safe ,and Quality service by our carpenters.
                        </p>
                        <!-- <a class="btn" href="">Learn More</a> -->
                    </div>
                </div>
                <div align="center" class="service1-item col-md-12">
                    <a class="btn" (click)="service()">Learn More</a>
                </div>
            </div>
        </div>
    </div><div class="row">
        <div align="center" class="col-md-12">
            <div id="footer" class="footer-contact">
                <h2>Get In Touch</h2>
                <div class="cont">
                    <p><i class="fa fa-map-marker-alt"></i>123 Street, New York, USA</p>
                    <p><i class="fa fa-phone-alt"></i>+012 345 67890</p>
                    <p><i class="fa fa-envelope"></i>info@example.com</p>
                </div>
                <div class="footer-social">
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-youtube"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div> 
        </div>
    </div>
    
    
    
</div>