<div class="wrapper">
    <!-- Header Start -->
    <div class="header home">
        <div class="container-fluid">
            
            <div class="hero row align-items-center">
                <div class="col-md-7">
                    <h2>Best & Trusted</h2>
                    <h2><span>Cleaning</span> Service</h2>
                    <p>Lorem ipsum dolor sit amet elit pretium facilisis ornare</p>
                    <a class="btn" (click)="route()">Explore Now</a>
                </div>
                <!-- <div class="col-md-5">
                    <div class="form">
                        <h3>Get A Quote</h3>
                        <form>
                            <input class="form-control" type="text" placeholder="Your Name">
                            <input class="form-control" type="text" placeholder="Mobile Number">
                            <div class="control-group">
                                <select class="custom-select">
                                    <option selected>Choose a service</option>
                                    <option value="1">House Cleaning</option>
                                    <option value="2">Apartment Cleaning</option>
                                    <option value="3">Office Cleaning</option>
                                </select>
                            </div>
                            <textarea class="form-control" placeholder="Comment"></textarea>
                            <button class="btn btn-block">Get A Quote</button>
                        </form>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <!-- Header End -->
    
    
    <!-- About Start -->
    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6">
                    <div class="about-img">
                        <img src="../../../assets/img/group.jpg" alt="Image">
                    </div>
                </div>
                <div class="col-lg-7 col-md-6">
                    <div class="about-text">
                        <h2><span>10</span> Years Experience</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum, viverra quis sem.
                        </p>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum, viverra quis sem. Curabitur non nisl nec nisi scelerisque maximus. Aenean consectetur convallis porttitor. Aliquam interdum at lacus non blandit.
                        </p>
                        <a class="btn" href="">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Service Start -->
    <div class="service">
        <div class="container">
            <div class="section-header">
                <p>Our Services</p>
                <h2>Popular Services Provided by us</h2>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="service-item">
                        <img src="../../../assets/img/acfitting.jpeg" alt="Service">
                        <h3>Appliance Installation</h3>
                        <p>
                            We provide installation and repairing of appliances as AC,TV,Washing Machine etc
                        </p>
                        <a class="btn" href="">Learn More</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="service-item">
                        <img src="../../../assets/img/homecleaning.jpg" style="height: 170px;" alt="Service">
                        <h3>Home Cleaning</h3>
                        <p>
                            Provide quality home cleaning at reasonable rate with updated equipments
                        </p>
                        <a class="btn" href="">Learn More</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="service-item">
                        <img src="../../../assets/img/painter.jpg" style="height: 170px;" alt="Service">
                        <h3>Painter</h3>
                        <p>
                            Provide proper, safe , effective service by our Painter
                        </p>
                        <a class="btn" href="">Learn More</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="service-item">
                        <img src="../../../assets/img/Laundry.jpg" style="height: 170px;" alt="Service">
                        <h3>Laundry</h3>
                        <p>
                            Provide proper, safe ,and risk free service by our electrician
                        </p>
                        <a class="btn" href="">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->
    
    
    <!-- Feature Start -->
    <div class="feature">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="section-header left">
                        <p>Why Choose Us</p>
                        <h2>Expert Cleaners and World Class Services</h2>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum, viverra quis sem. Curabitur non nisl nec nisi scelerisque maximus. Aenean consectetur convallis porttitor. Aliquam interdum at lacus non blandit.
                    </p>
                    <a class="btn" href="">Learn More</a>
                </div>
                <div class="col-md-7">
                    <div class="row align-items-center feature-item">
                        <div class="col-5">
                            <img src="../../../assets/img/feature-1.jpg" alt="Feature">
                        </div>
                        <div class="col-7">
                            <h3>Expert Cleaners</h3>
                            <p>
                                Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate.
                            </p>
                        </div>
                    </div>
                    <div class="row align-items-center feature-item">
                        <div class="col-5">
                            <img src="../../../assets/img/feature-2.jpg" alt="Feature">
                        </div>
                        <div class="col-7">
                            <h3>Reasonable Prices</h3>
                            <p>
                                Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate.
                            </p>
                        </div>
                    </div>
                    <div class="row align-items-center feature-item">
                        <div class="col-5">
                            <img src="../../../assets/img/feature-3.jpg" alt="Feature">
                        </div>
                        <div class="col-7">
                            <h3>Quick & Best Services</h3>
                            <p>
                                Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature End -->
    

    <div class="service">
        <div class="container">
            <div class="section-header">
                <!-- <p>Our Services</p> -->
                <h2>Home Repairs</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <img src="../../../assets/img/plumbing.jpg" style="height: 170px;" alt="Service">
                        <h3>Plumbing</h3>
                        <p>
                            Provide overall quality plumbing at reasonable rate with updated equipments
                        </p>
                        <a class="btn" href="">Learn More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <img src="../../../assets/img/electrician.jpg" style="height: 170px;" alt="Service">
                        <h3>Electrician</h3>
                        <p>
                            Provide proper, safe ,and risk free service by our electricians.
                        </p>
                        <a class="btn" href="">Learn More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <img src="../../../assets/img/carpenter.jpg" style="height: 170px;" alt="Service">
                        <h3>Carpenter</h3>
                        <p>
                            Provide proper, safe ,and Quality service by our carpenters.
                        </p>
                        <a class="btn" href="">Learn More</a>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    
    <!-- Footer Start -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="footer-contact">
                        <h2>Get In Touch</h2>
                        <p><i class="fa fa-map-marker-alt"></i>123 Street, New York, USA</p>
                        <p><i class="fa fa-phone-alt"></i>+012 345 67890</p>
                        <p><i class="fa fa-envelope"></i>info@example.com</p>
                        <div class="footer-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-link">
                        <h2>Useful Link</h2>
                        <a href="">About Us</a>
                        <a href="">Our Story</a>
                        <a href="">Our Services</a>
                        <a href="">Our Projects</a>
                        <a href="">Contact Us</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-link">
                        <h2>Useful Link</h2>
                        <a href="">Our Clients</a>
                        <a href="">Clients Review</a>
                        <a href="">Ongoing Project</a>
                        <a href="">Customer Support</a>
                        <a href="">FAQs</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-form">
                        <h2>Stay Updated</h2>
                        <p>
                            Lorem ipsum dolor sit amet, adipiscing elit. Etiam accumsan lacus eget velit
                        </p>
                        <input class="form-control" placeholder="Email here">
                        <button class="btn">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container footer-menu">
            <div class="f-menu">
                <a href="">Terms of use</a>
                <a href="">Privacy policy</a>
                <a href="">Cookies</a>
                <a href="">Help & FQAs</a>
                <a href="">Contact us</a>
            </div>
        </div>
        <div class="container copyright">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; <a href="https://htmlcodex.com">HTML Codex</a>, All Right Reserved.</p>
                </div>
                <div class="col-md-6">
                    <p>Designed By <a href="https://htmlcodex.com">HTML Codex</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
</div>