<div class="wrapper">
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>About Us</h2>
            </div>
            <!-- <div class="col-12">
                <a href="">Home</a>
                <a href="">About Us</a>
            </div> -->
        </div>
    </div>
</div>
<!-- Page Header End -->


<div class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6">
                <div class="about-img">
                    <img src="../../../assets/img/group.jpg" alt="Image">
                </div>
            </div>
            <div style="margin-top: 60px;" class="col-lg-7 col-md-6">
                <div class="about-text">
                    <h2>Delivering New Experience</h2>
                    <p style="font-size:18px ;">
                        Our appliance repair technicians are clean and professional and provide repair services you can rely on.
                    </p>
                    <p>
                        Our handymen team was established in response to the growing need for high-quality housing and commercial space in the city. Since then, we are one of the leading real estate developers who serve the needs of a discerning clientele.
                        We let our quality work and commitment to customer satisfaction be our slogan.


                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Team Start -->
<div class="team">
    <div class="container">
        <div class="section-header">
            <p>Team Member</p>
            <h2>Meet Our Tech-Experts</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img style="height: 350px;" src="https://media.istockphoto.com/photos/smiling-confident-businesswoman-posing-with-arms-folded-picture-id1163294201?k=20&m=1163294201&s=612x612&w=0&h=3M9Ha3KbrWqNnJARtJcXvt_B6rx9bZdEvkWvQbxK2hE=" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Radha Mamidwar</h2>
                        <h3>Developer</h3>
                        <div class="team-social">
                            <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                            <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                            <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img style="height: 350px;" src="https://media.istockphoto.com/photos/portrait-of-a-businesswoman-standing-in-a-a-modern-office-picture-id1310814041?b=1&k=20&m=1310814041&s=170667a&w=0&h=DEb5uRlaMQM0DP5Bx1wgpsY6jDIKEv2ovhr9svtFIJ0=" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Punav Walke</h2>
                        <h3>Developer</h3>
                        <div class="team-social">
                            <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                            <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                            <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img style="height: 350px;" src="https://www.westend61.de/images/0001073444pw/portrait-of-smiling-young-businesswoman-BMOF00075.jpg" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Aditi Shinde</h2>
                        <h3>Developer</h3>
                        <div class="team-social">
                            <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                            <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                            <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 mt-3"></div>

            <div class="col-lg-4 mt-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img style="height: 350px;" src="https://media.istockphoto.com/photos/portrait-of-a-smiling-young-businessman-picture-id1297832726?b=1&k=20&m=1297832726&s=170667a&w=0&h=L4wrhC9DI1fCmtKs9z2O1tzuOpSuekY9os4zBBaQFJg=" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Atharva Saraf</h2>
                        <h3>Developer</h3>
                        <div class="team-social">
                            <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                            <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                            <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img style="height: 350px;" src="https://images.pexels.com/photos/937481/pexels-photo-937481.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Mayur Bhakare</h2>
                        <h3>Developer</h3>
                        <div class="team-social">
                            <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                            <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                            <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</div>
<!-- Team End -->


</div>