<div class="wrapper">
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
          <h2>Our Services</h2>
                </div>
                <!-- <div class="col-12">
                    <a href="">Home</a>
                    <a href="">About Us</a>
                </div> -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="justify-content-center text-center p-4">
          <p class="text-muted">
            Take a rest, while our professional team will do all job for you.
          </p>
        </div>
        <!--Services-->
        <div class="row ">
          <!--Service 1-->
          <div class="col-md-4 col-sm-12 col-sm-12 align-items-center mt-3">
            <div class="container">
              <!--Card start-->
              <div class="card" style="width: 16rem;">
                <img class="card-img-top img-fluid" src="https://www.thebalancesmb.com/thmb/c0ZhcxWQuXWC91tV8cE73Nqd6Ug=/3863x2173/smart/filters:no_upscale()/young-stylish-cabinet-maker-with--glasses-and-hairstyle--strong--handsome-craftsman-holding-saw-and-wood-blank-at-workplace-944613244-5af9afc2a18d9e003c17040c.jpg" alt="Carpentering">
                <div class="card-body text-center">
                  <a href="#" class="text-decoration-none"><h5 class="card-title">Carpentering</h5></a>
                </div>
              </div>
              <!--Card End-->
            </div>
          </div>
          <!--Service 1-->
          <!--Service 2-->
          <div class="col-md-4 col-sm-12 col-sm-12 mt-3">
            <div class="container">
              <!--Card start-->
              <div class="card" style="width: 16rem;">
                <img class="card-img-top img-fluid" src="https://www.clean-organized-family-home.com/images/house-cleaning-service-19.jpg" alt="Carpentering">
                <div class="card-body text-center">
                  <a href="#" class="text-decoration-none"><h5 class="card-title">House Cleaning</h5></a>
                </div>
              </div>
              <!--Card End-->
            </div>
          </div>
          <!--Service 2-->
          <!--Service 3-->
          <div class="col-md-4 col-sm-12 col-sm-12 mt-3">
            <div class="container">
              <!--Card start-->
              <div class="card" style="width: 16rem;">
                <img class="card-img-top img-fluid" src="https://srinidhielectricalrepairs.in/images/electrician1.jpg" alt="Carpentering">
                <div class="card-body text-center">
                  <a href="#" class="text-decoration-none"><h5 class="card-title">Electrical</h5></a>
                </div>
              </div>
              <!--Card End-->
            </div>
          </div>
          <!--Service 3-->
        </div>
        <!--Row2-->
        <div class="row">
           <!--Service 4-->
           <div class="col-md-4 col-sm-12 col-sm-12 mt-3">
            <div class="container">
              <!--Card start-->
              <div class="card" style="width: 16rem;">
                <img class="card-img-top img-fluid" src="https://thearchitectsdiary.com/wp-content/uploads/2020/11/ac-repair-service-.jpg" alt="Carpentering">
                <div class="card-body text-center">
                  <a href="#" class="text-decoration-none"><h5 class="card-title">AC Servicing</h5></a>
                </div>
              </div>
              <!--Card End-->
            </div>
          </div>
          <!--Service 4-->
               <!--Service 5-->
          <div class="col-md-4 col-sm-12 col-sm-12 mt-3">
            <div class="container">
              <!--Card start-->
              <div class="card" style="width: 16rem;">
                <img class="card-img-top img-fluid" src="https://www.nipponpaint.co.in/wp-content/uploads/2021/07/shutterstock_376837156-min.jpg" alt="Carpentering">
                <div class="card-body text-center">
                  <a href="#" class="text-decoration-none"><h5 class="card-title">Painting</h5></a>
                </div>
              </div>
              <!--Card End-->
            </div>
          </div>
          <!--Service 5-->
          <!--Service 6-->
          <div class="col-md-4 col-sm-12 col-sm-12 mt-3">
            <div class="container">
              <!--Card start-->
              <div class="card" style="width: 16rem;">
                <img class="card-img-top img-fluid" src="https://static.onyx-groups.com/assets/images/services/plumbing.webp" alt="Carpentering">
                <div class="card-body text-center">
                  <a href="#" class="text-decoration-none"><h5 class="card-title">Plumbing</h5></a>
                </div>
              </div>
              <!--Card End-->
            </div>
          </div>
          <!--Service 6-->
          
        </div>
        <!--Row 3-->
        <div class="row">
           <!--Service 7-->
          <div class="col-md-4 col-sm-12 col-sm-12 mt-3">
            <div class="container">
              <!--Card start-->
              <div class="card" style="width: 16rem;">
                <img class="card-img-top img-fluid" src="https://refix.co.in/landing/tv-repair-in-bangalore/img/tv1.jpg" alt="Carpentering">
                <div class="card-body text-center">
                  <a href="#" class="text-decoration-none"><h5 class="card-title">TV Servicing</h5></a>
                </div>
              </div>
              <!--Card End-->
            </div>
          </div>
          <!--Service 7-->
          <!--Service 8-->
          <div class="col-md-4 col-sm-12 col-sm-12 mt-3">
            <div class="container">
              <!--Card start-->
              <div class="card" style="width: 16rem;">
                <img class="card-img-top img-fluid" src="https://content.jdmagicbox.com/def_content/water_purifier_repair_and_services_aquaguard/default-water-purifier-repair-and-services-aquaguard-4.jpg" alt="Carpentering">
                <div class="card-body text-center">
                  <a href="#" class="text-decoration-none"><h5 class="card-title">Water Purifier Servicing</h5></a>
                </div>
              </div>
              <!--Card End-->
            </div>
          </div>
          <!--Service 8-->
        </div>
        </div>
    
</div>